{% extends "menu.html" %}
{% set active_page = 'login' %}

{% block content %}
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/login.css') }}">
        <title>login</title>
    </head>
    <div class="sidenav">
        <div class="login-main-text">
            <h2>Login<br> Cine Família</h2>
            <p>Cadastre ou registre sua conta aqui.</p>
        </div>
    </div>
    <div class="main">
        <div class="col-md-6 col-sm-12">
            <div class="login-form">
                <form action="{{ url_for('autenticate') }}" method="POST">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" required class="form-control" name="email" placeholder="Digite seu e-mail">
                    </div>
                    <div class="form-group">
                        <label for="password">Senha</label>
                        <input type="password" id="password" required class="form-control" name="password" placeholder="Digite sua senha">
                    </div>
                    <button type="submit" class="btn btn-black">Entrar</button>
                    <button type="button" class="btn btn-secondary" onclick="window.location.href='{{ url_for('register') }}'">Registrar</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}