{% extends "menu.html" %}
{% set active_page = 'films' %}

{% block page %}
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/shared/table.css') }}">
        <script src="{{ url_for('static', filename='scripts/components/table.js') }}"></script>
        <title>Filmes</title>
    </head>

    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Gerenciar <b>Filmes</b></h2>
                        </div>
                        <div class="col-sm-6">
                            <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><span
                                    data-feather="plus-circle"></span> <span>Add New Movie</span></a>
                            <a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal"><span
                                    data-feather="minus-circle"></span> <span>Delete</span></a>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>
							<span class="custom-checkbox">
								<input type="checkbox" id="selectAll">
								<label for="selectAll"></label>
							</span>
                        </th>
                        <th>Ano de exibicao</th>
                        <th>Titulo da obra</th>
                        <th>Genero</th>
                        <th>Pais produtor obra</th>
                        <th>Nacionalidade obra</th>
                        <th>Data lancamento</th>
                        <th>Distribuidora</th>
                        <th>Origem da empresa distribuidora</th>
                        <th>Acao</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for movie in movies %}
                        <tr>
                            <td>
							<span class="custom-checkbox">
								<input type="checkbox" id="checkbox5" name="options[]" value="1">
								<label for="checkbox5"></label>
							</span>
                            </td>
                            <td>{{ movie.ano_de_exibicao }}</td>
                            <td>{{ movie.titulo_da_obra }}</td>
                            <td>{{ movie.genero }}</td>
                            <td>{{ movie.pais_produtor_obra }}</td>
                            <td>{{ movie.nacionalidade_obra }}</td>
                            <td>{{ movie.data_lancamento }}</td>
                            <td>{{ movie.distribuidora }}</td>
                            <td>{{ movie.origem_da_empresa_distribuidora }}</td>
                            <td>
                                <a href="#editEmployeeModal" class="edit" data-toggle="modal"><span
                                        data-feather="edit"></span></a>
                                <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><span
                                        data-feather="trash-2"></span></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="clearfix">
                    <div class="hint-text">Exibindo <b>{{ movies|length }}</b> de <b>{{ movie_len }}</b> Filmes</div>
                    <ul class="pagination">
                        <li class="page-item">
                            {% if index > 0 %}
                                <button class="btn" onclick="window.location.href='{{ url_for('movies', page=index - 1) }}'">Anterior</button>
                            {% else %}
                                <button class="btn" disabled>Anterior</button>
                            {% endif %}
                        </li>
                        <li class="page-item">
                            <button class="btn" onclick="window.location.href='{{ url_for('movies', page=index + 1) }}'">Próxima</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Add Modal HTML -->
    <div id="addMovieModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="{{ url_for('add_movie') }}" method="POST">
                    <div class="modal-header">
                        <h4 class="modal-title">Adicionar Filme</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="title">Título</label>
                            <input id="title" name="title" type="text" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="launch_date">Data de Lançamento</label>
                            <input id="launch_date" name="launch_date" type="date" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="gender_id">Gênero</label>
                            <select id="gender_id" name="gender_id" class="custom-select">
                                {% for genre in genres %}
                                <option value="{{ genre.id }}">{{ genre.nome }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="country">País</label>
                            <input id="country" name="country" type="text" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="year">Ano de exibição</label>
                            <input id="year" name="year" type="text" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="publisher_id">Distribuidora</label>
                            <select id="publisher_id" name="publisher_id" class="custom-select">
                                {% for publisher in publishers %}
                                <option value="{{ publisher.id }}">{{ publisher.nome }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="origem_da_empresa_distribuidora">Nacionalidade da Distribuidora</label>
                            <select id="origem_da_empresa_distribuidora" name="origem_da_empresa_distribuidora" class="custom-select">
                                <option value="1">Nacional</option>
                                <option value="2">Estrangeira</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                        <input type="submit" class="btn btn-success" value="Adicionar">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Edit Modal HTML -->
    <div id="editMovieModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="{{ url_for('edit_movie') }}" method="PUT">
                    <div class="modal-header">
                        <h4 class="modal-title">Editar Filme</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="title">Título</label>
                            <input id="title" name="title" type="text" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="launch_date">Data de Lançamento</label>
                            <input id="launch_date" name="launch_date" type="date" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="gender_id">Gênero</label>
                            <select id="gender_id" name="gender_id" class="custom-select">
                                {% for genre in genres %}
                                <option value="{{ genre.id }}">{{ genre.nome }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="country">País</label>
                            <input id="country" name="country" type="text" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="year">Ano de exibição</label>
                            <input id="year" name="year" type="text" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="publisher_id">Distribuidora</label>
                            <select id="publisher_id" name="publisher_id" class="custom-select">
                                {% for publisher in publishers %}
                                <option value="{{ publisher.id }}">{{ publisher.nome }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="origem_da_empresa_distribuidora">Nacionalidade da Distribuidora</label>
                            <select id="origem_da_empresa_distribuidora" name="origem_da_empresa_distribuidora" class="custom-select">
                                <option value="1">Nacional</option>
                                <option value="2">Estrangeira</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                        <input type="submit" class="btn btn-info" value="Salvar">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Delete Modal HTML -->
    <div id="deleteMovieModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <h4 class="modal-title">Deletar Filme</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Tem certeza que deseja excluir o Filme ""?</p>
                        <p class="text-warning"><small>Essa ação não pode ser desfeita.</small></p>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                        <input type="submit" class="btn btn-danger" value="Deletar">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
