{% extends "index.html" %}
{% set active_page = 'rents' %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/shared/table.css') }}">
    <script src="{{ url_for('static', filename='scripts/components/table.js') }}"></script>
    <title>Aluguéis</title>
</head>

<div class="container-xl">
	<div class="table-responsive">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-6">
						<h2>Gerenciar <b>Aluguéis</b></h2>
					</div>
					<div class="col-sm-6">
						<a href="#addRentModal" class="btn btn-success" data-toggle="modal"><span data-feather="plus-circle"></span> <span>Adicionar Aluguél</span></a>
						<a href="#deleteRentModal" class="btn btn-danger" data-toggle="modal"><span data-feather="minus-circle"></span> <span>Deletar</span></a>
					</div>
				</div>
			</div>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>
							<span class="custom-checkbox">
								<input type="checkbox" id="selectAll">
								<label for="selectAll"></label>
							</span>
						</th>
						<th>ID</th>
						<th>Cliente</th>
						<th>Filme(s)</th>
						<th>Data Inicio</th>
						<th>Data Fim</th>
						<th>Ações</th>
					</tr>
				</thead>
				<tbody>				
					<tr>
						<td>
							<span class="custom-checkbox">
								<input type="checkbox" id="checkbox5" name="options[]" value="1">
								<label for="checkbox5"></label>
							</span>
						</td>
						<td>1</td>
						<td>Cleitin</td>
						<td>Harry Potter</td>
						<td>24/11/2021</td>
						<td>30/11/2021</td>
						<td>
							<a href="#editRentModal" class="edit" data-toggle="modal"><span data-feather="edit"></span></a>
							<a href="#deleteRentModal" class="delete" data-toggle="modal"><span data-feather="trash-2"></span></a>
						</td>
					</tr> 
				</tbody>
			</table>
			<div class="clearfix">
				<div class="hint-text">Exibindo <b>5</b> de <b>25</b> Aluguéis</div>
				<ul class="pagination">
					<li class="page-item disabled"><a href="#">Previous</a></li>
					<li class="page-item"><a href="#" class="page-link">1</a></li>
					<li class="page-item"><a href="#" class="page-link">2</a></li>
					<li class="page-item active"><a href="#" class="page-link">3</a></li>
					<li class="page-item"><a href="#" class="page-link">4</a></li>
					<li class="page-item"><a href="#" class="page-link">5</a></li>
					<li class="page-item"><a href="#" class="page-link">Next</a></li>
				</ul>
			</div>
		</div>
	</div>        
</div>
<!-- Add Modal HTML -->
<div id="addRentModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form>
				<div class="modal-header">						
					<h4 class="modal-title">Adcionar Aluguel</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="client">Cliente</label>
						<select id="client" name="client">
							<option value="{{i}}">Aqui vai o for de clientes</option>
						</select>
					</div>
					<div class="form-group">
						<label for="films">Filme(s)</label>
						<select id="films" name="films">
							<option value="{{i}}">Aqui vai o for de filmes</option>
						</select>
					</div>
					<div class="form-group">
						<label for="initialDate">Data Inicial</label>
						<input id="initialDate" name="initialDate" type="date" class="form-control" required>
					</div>
					<div class="form-group">
						<label for="finalDate">Data Final</label>
						<input id="finalDate" name="finalDate" type="date" class="form-control" required>
					</div>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
					<input type="submit" class="btn btn-success" value="Adicionar">
				</div>
			</form>
		</div>
	</div>
</div>
<!-- Edit Modal HTML -->
<div id="editRentModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form>
				<div class="modal-header">						
					<h4 class="modal-title">Editar Alguel</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="client">Cliente</label>
						<select id="client" name="client">
							<option value="{{i}}">Aqui vai o for de clientes</option>
						</select>
					</div>
					<div class="form-group">
						<label for="films">Filme(s)</label>
						<select id="films" name="films">
							<option value="{{i}}">Aqui vai o for de filmes</option>
						</select>
					</div>
					<div class="form-group">
						<label for="initialDate">Data Inicial</label>
						<input id="initialDate" name="initialDate" type="date" class="form-control" required>
					</div>
					<div class="form-group">
						<label for="finalDate">Data Final</label>
						<input id="finalDate" name="finalDate" type="date" class="form-control" required>
					</div>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
					<input type="submit" class="btn btn-info" value="Salvar">
				</div>
			</form>
		</div>
	</div>
</div>
<!-- Delete Modal HTML -->
<div id="deleteRentModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form>
				<div class="modal-header">
					<h4 class="modal-title">Deletar Aluguel</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<p>Tem certeza que deseja excluir este Aluguel?</p>
					<p class="text-warning"><small>Esta ação não pode ser desfeita.</small></p>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
					<input type="submit" class="btn btn-danger" value="Deletar">
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}